.NavMenuMainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 1500px;
    height: 81px;
    background-color: var(--MainBackGroundColor);
}

.MenuPositionsContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.UserButtonsContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 143px;
}

.bullLogo {
    width: 48px;
    height: 48px;
}

@media screen and (max-width: 500px) {
	/*MOBILE SECTION*/
    .NavMenuMainContainer {
        flex-direction: column-reverse;
        min-width: 320px;
        height: auto;
    }

    .UserButtonsContainer {
        width: 98vw;
        align-items: center;
        justify-content: center;
        padding-right: 0px;
        margin: 10px 0px;
    }

    .MenuPositionsContainer {
        width: 98vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
}