.NavMenuMainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 81px;
    background-color: var(--MainBackGroundColor);
}

.MenuPositionsContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.UserButtonsContainer {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 143px;
}

.bullLogo {
    width: 48px;
    height: 48px;
}