.LogoBarMainContainer {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--MainBackGroundColor);
}

.DeliveryLogo:hover {
  transform: scale(1.05);
  cursor: pointer;
}


@media screen and (max-width: 500px) {
	/*MOBILE SECTION*/
  .LogoBarMainContainer {
    max-width: 100vw;
    justify-content: flex-start;
    overflow-y: scroll;
  }

  .DeliveryLogo {
    margin: 0px 15px;
}
}