html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

:root {
	--MainBackGroundColor: #FFFFFF;
  --MainButtonsColor: #FFFFFF;
  --MainFontColor:#000000;
  --MainFontType: 'SofiaPro';
  --SecondFontType: 'Roboto';
	background-color: var(--MainBackGroundColor);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  min-width: 1500px;
}

@font-face {
  font-family: "SofiaPro";
  src: local("SofiaPro"),
    url("./Components/assets/SofiaPro.ttf") format("truetype");
  font-weight: 400;
}


@media screen and (max-width: 500px) {
	/*MOBILE SECTION*/
  .App {
    min-width: 320px;
  }
}