html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

:root {
	--MainBackGroundColor: #FFFFFF;
  --MainButtonsColor: #FFFFFF;
  --MainFontColor:#000000;
	background-color: var(--MainBackGroundColor);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  min-width: 1500px;
}
