
.swiper {
    width: 100%;
    height: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sampleSlideMainContainer {
    display: flex;
    flex-direction: row;
    width: 95%;
  }

  .SlideInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
  }

  .SlidePictureContainer {
    width: 50%;
  }

  .FoodInfoHeader {
    font-family: var(--MainFontType);
    text-align: left;
    width: 50%;
  }

  .FoodHeaderDiscountInfo {
    color: var(--MainBackGroundColor);
    background-color: var(--MainFontColor);
  }

  .FoodInfoText {
    font-family: var(--SecondFontType);
    width: 50%;
    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
  }

  @media screen and (max-width: 500px) {
	/*MOBILE SECTION*/
    .sampleSlideMainContainer {
        display: flex;
        flex-direction: column;
        width: 95%;
      }

      .SlideInfoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
      }

      .FoodInfoHeader {
        text-align: center;
        width: 100%;
      }

      .FoodInfoText {
        width: 80%;
        text-align: center;
      }

      .SlidePictureContainer {
        width: 100%;
      }
}